<div class="container-fluid new-order">
  <h1>Crear un nuevo pedido</h1>
  <div class="cart-summary">
    <%= render "orders/cart_summary" %>
  </div>
  <div class="form-group  col-12 col-md-10 border-top border-primary mt-3 py-4">
    <%= simple_form_for(@order) do |f| %>
        <%= f.input :name, :input_html => { :value => current_user.email || nil } %>
        <%= f.input :email, :input_html => { :value => current_user.email || nil } %>
        <%= f.input :address, :input_html => { :value => current_user.email || nil } %>

        <%= f.submit 'Proceed to payment', class:"mt-2 btn btn-success" %>
    <% end %>
  </div>
</div>