<div class="container-fluid">
  <h1>Crear un nuevo pedido</h1>
  <div class="form-group">
  <%= simple_form_for(@order) do |f| %>

      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :address %>

      <%= f.button :submit, class:"mt-2 btn btn-success" %>

  <% end %>
  </div>
</div>