
  <h2>Cart show</h2>
  <ul>
    <% @cart.line_items.each do |line_item| %>
      <li>Item: <%= line_item.product.name %>/ Price: <%= number_to_currency(line_item.product.price) %>/ Quantity: <%= line_item.quantity %>/ Total Price: <%= number_to_currency(line_item.total_price) %>
      <ul>
        <li>
          <%= link_to "Add one", line_item_add_path(:id => line_item), method: :post %>
          <%= link_to "Reduce one", line_item_reduce_path(:id => line_item), method: :post %>
        </li>
        <li>
          <%= link_to "Remove item", line_item_path(line_item), method: :delete %>
        </li>
      </ul>
    <% end %>
  </ul>
  <h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
  <%= link_to "Proceed to checkout", new_order_path %><br>
  <%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>
<div class="d-flex">
                  <div class="m-4">
                    <%= link_to cart_path(@current_cart), alt:"",class:"title", data: {"-abc": "true" } do %>
                      <span class="rated me-3">
                          <%= image_tag "PP-logo.png", height:"16" %>
                      </span>
                    <% end %>
                    <span class="border-end"></span>
                    <%= link_to cart_path(@current_cart), alt:"",class:"title", data: {"-abc": "true" } do %>
                      <span class="ms-3 rated">
                        <%= image_tag "MP-logo.png", height:"16" %>
                      </span>
                    <% end %>
                  </div>