<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      
      <span class="fs-4 text-center text-wrap">
      Plantines Orgánicos S.A.
      </span>
    </a>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><%= current_user ? current_user.email : 'Menu' %></strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <% if current_user %>
      <li><%= link_to 'Ver perfil', edit_user_registration_path, class:"dropdown-item" %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "Log out", destroy_user_session_path, class:"dropdown-item text-danger", method: :delete %></li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path, class:"dropdown-item text-primary" %></li>
      <li><%= link_to "Log in as Admin", new_admin_user_session_path, class:"dropdown-item text-muted" %></li>
      <li><%= link_to "Register", new_user_registration_path, class:"dropdown-item text-success" %></li>
    <% end %>
      </ul>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to products_path, class:"nav-link link-dark" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        <i class="fas fa-home me-2"></i>
        Home
        <% end %>
      </li>
      <li>
       <%= link_to orders_path, class:"nav-link link-dark" do %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <i class="fas fa-clipboard me-2"></i>
          My orders
        <% end %>
      </li>
      <li>
        <%= link_to products_path, class:"nav-link link-dark" do %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <i class="fas fa-th me-2"></i>
          Products
        <% end %>
      </li>
      <li>

        <div class="accordion accordion-flush" id="accordionCategories">
          <div class="accordion-header" id="flush-headingOne">
              <div class="collapsed nav-link link-dark m-0" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <a href="#" class="nav-link m-0" aria-current="page">
                  <svg class="bi" width="8" height="8"><use xlink:href="#home"/></svg>
                  <i class="fas fa-list-alt me-2"></i>
                  Categories
                </a>
              </div>
          </div>

          <div id="flush-collapseOne" class="accordion-collapse collapse p-0" aria-labelledby="flush-headingOne" data-bs-parent="#accordionCategories">
            <div class="accordion-body p-0 ms-5">
              <%= link_to products_path, class:"nav-link link-dark text-danger" do %>
                Category 1
              <% end %>
            </div>
          </div>

          <div id="flush-collapseOne" class="accordion-collapse collapse p-0" aria-labelledby="flush-headingOne" data-bs-parent="#accordionCategories">
            <div class="accordion-body p-0 ms-5">
              <%= link_to products_path, class:"nav-link link-dark text-danger" do %>
                Category 2
              <% end %>
            </div>
          </div>

          <div id="flush-collapseOne" class="accordion-collapse collapse p-0" aria-labelledby="flush-headingOne" data-bs-parent="#accordionCategories">
            <div class="accordion-body p-0 ms-5">
              <%= link_to products_path, class:"nav-link link-dark text-danger" do %>
                Category 3
              <% end %>
            </div>
          </div>
          
        </div>



      </li>
      <li>
        <%= link_to cart_path(@current_cart), class:"nav-link link-dark" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        <i class="fas fa-shopping-cart me-2"></i>
        Show cart
        <% end %>
      </li>
      <% if @current_cart.line_items.any? %>
        <li>
          <%= link_to new_order_path, class:"nav-link link-dark text-danger" do %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <i class="fas fa-credit-card text-danger me-2"></i>
          Pay products
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>