<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      
      <span class="fs-4 text-center text-wrap">
      Plantines Orgánicos S.A.
      </span>
    </a>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><%= current_user ? current_user.email : 'Menu' %></strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <% if current_user %>
      <li><%= link_to 'Ver perfil', edit_user_registration_path, class:"dropdown-item" %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "Log out", destroy_user_session_path, class:"dropdown-item text-danger", method: :delete %></li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path, class:"dropdown-item text-primary" %></li>
      <li><%= link_to "Log in as Admin", new_admin_user_session_path, class:"dropdown-item text-muted" %></li>
      <li><%= link_to "Register", new_user_registration_path, class:"dropdown-item text-success" %></li>
    <% end %>
      </ul>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Orders
        </a>
      </li>
      <li>
        <%= link_to products_path , class:"nav-link link-dark text-danger" do %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Products
        <% end %>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
      <li>
        <%= link_to cart_path(@current_cart), class:"nav-link link-dark text-danger" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        <i class="fas fa-shopping-cart text-danger me-2"></i>
        Show cart
        <% end %>
      </li>
    </ul>
  </div>